<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cse5236.degreeauditmobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DegreeAuditMobile">
        <activity
            android:name=".UI.Activity.EditSemesterActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.EditClassActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.AddClassActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.AddSemesterActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.CheckProgressActivity"
            android:exported="false"
            android:label="@string/title_activity_check_progress"
            android:theme="@style/Theme.DegreeAuditMobile.NoActionBar" />
        <activity
            android:name=".UI.Activity.NewUserActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.MainMenuActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.UpdatePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Activity.GradMajorEntryActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>